@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Montserrat', serif;
    font-size:larger;
    margin: 0;
    background-color: #f4f4f4;
}

/* Estilos para el encabezado */
header {
    background-color: #2c3e50;
    color: white;
    padding: 1px;
    
}
.wrapper{
   
  height: 100vh;
    width: auto;
    
    background-color: #191c32;
    color: #fff;
}


/* Estilos para la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.menu{
    display: flex;
   

}

.menu li {
    list-style: none;

}
.menu a{
    font-weight:bold;
    color: #f4f4f4;
    text-decoration: none;
    padding: 10px 10px;
    
}
.menu li:hover a {
    border-radius: 20px;
    background-color: #ffffff17;
    color: #fff;
}

.menu .active {
    color: aqua;

}


.menu li a:hover {
    color: #fff;
}

/* Estilos para el logotipo */
.brand img {
    
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Hace que la imagen se ajuste al tamaño del contenedor */
}
.main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2em; /* Cambia la dirección del flexbox a fila en dispositivos más grandes */
}

.info-content {
    max-width: 100%; /* Establece el ancho máximo para el texto */
    padding: 10px;
    margin-left: 20px; /* Agrega un margen a la izquierda del contenido */
    margin-right: 20px; /* Agrega un margen a la derecha del contenido */
    margin-bottom: 20px; /* Añade un espacio en la parte inferior del texto */

   

}
.info-content p{
    text-align: justify;
    
}
.info-content button{
    margin-top: 20px;
    
}
.main img {
    
    border-radius: 20%;
    margin-right: auto;
    margin-left:auto; /* Agrega un margen a la izquierda del contenido */
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    width: 350px;
    height: 450px;
   
 
    
}
.download-cv {
    

    padding: 10px 20px;
    font-size: 1em;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.8s; /* Agrega una transición suave al color de fondo */
}

.download-cv:hover {
    background-color: #2980b9; /* Cambia el color de fondo al pasar el ratón */
}
.about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: auto;
    align-items: center;
}

.about img {
    width: 100%;
    grid-column: 1/5;
}

.about-info {
    grid-column: 5/10;
    padding: 3em;
}

.about-info h2 {
    font-size: 2em;
    color: #191c32;
}

.divider {
    height: 4px;
    width: 60px;
    background-color:#2c3e50;
    margin-top: 5px;
    margin-bottom: 2em;
}

.about p {
    margin-bottom: 1em;
}
.portfolio,
.contact-section {
    width: auto;
    background-color: #191c32;
    color: #fff;
}

.portfolio-heading {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}


.portfolio-heading h2,
.contact-heading h2 {
    align-items: center;
   
    font-size: 2em;
    color: #fff;
}

.portfolio .container {
    list-style-type: none; /* Agrega esta línea para quitar los marcadores de lista */
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    list-style-type: none; /* Agrega esta línea para quitar los marcadores de lista */
    width: 300px;
    background-color: #2b3058;
    margin: 1em;
}

.card__img {
    width: 100%;
    height: 150px;
    background-image: url(https://res.cloudinary.com/freelancer2222222222222222/image/upload/v1650543491/samples/2-original_agisst.png);
    background-size: cover;
}

.card__title {
    padding: 20px;
}


.card__proyect-links {
    display: flex;
    justify-content: space-evenly;
}

.card__proyect-links a {
    
    color: #fff;
    text-decoration: none;
}

.card__proyect-links i {
       
    font-size: 1.5em;
}

.button-content {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.project-details-button a {
    text-decoration: none;
    color: #191c32;
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
    /* Cambios en la barra de navegación para pantallas pequeñas */
    .navbar {
        flex-direction: column; /* Cambia la dirección de los elementos a columna */
        align-items: center; /* Centra los elementos */
    }
    .wrapper{
   
        height: auto;
          width: auto;
          
          background-color: #191c32;
          color: #fff;
      }
    .menu {
        
        margin-top: 20px; /* Añade espacio entre el logotipo y los elementos de menú */
        
    }
    .menu li {
        margin-right: 10px; /* Agrega un espacio entre los elementos del menú */
    }
    .menu a {
        
        padding: 5px 10px;
       
        font-size: small;
        
    }
    /* Estilos para el contenido principal */
.main {
    display: flex; /* Utiliza flexbox para distribuir los elementos en dos columnas */
    flex-direction: column; /* Cambia la dirección del flexbox a columna en dispositivos móviles */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 20px;
    text-align: center;
}

.info-content {
    max-width: 100%; /* Establece el ancho máximo para el texto */
    padding: 0 20px; /* Añade un espacio a los lados del texto */
    margin-bottom: 20px; /* Añade un espacio en la parte inferior del texto */
}

.info-content h1 {
    font-size: 2.5em;
}

.info-content p {
    font-size: 1.1em;
}



.main img {
    padding: 10px;
    margin-top: 1px;
    max-width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    margin-left: -900; /* Elimina el margen a la derecha de la imagen */
}
.about {
    display:list-item;
   
    width: 100vw;
    align-items: center;
}

.about img {
   

    margin-top: 10px;
    width: 100%;
    
}

.about-info {
   
    padding: 3em;
}

.portfolio .container {
    width: max-content;
    height: auto;
   
    display: list-item;
   
}
.portfolio-heading {
    width: auto;
    display: list-item;
   align-items: center;
    justify-content: center;

}
.card {
    width: 300px;
    height: 400PX;
    background-color: #2b3058;
    margin: 1em;
}
.portfolio-heading {
 
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none; /* Agrega esta línea para quitar los marcadores de lista */

}
  
}

/* Estilos para el pie de página */
.footer {
  /* Agrega un degradado lineal de colores */
    background: linear-gradient(to bottom, #2c3e50, #3498db);
    color: white;
    padding: 20px;
    text-align: center;
}
